@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #202024;
  color: #E1E1E6;
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font: 400 1rem Roboto, sans-serif;
}

@media (max-width: 640px) {
  html {
    font-size: 80%;
  }
}
